.layout {
    display: flex;
    flex-direction: row;
    height:80vh;
    margin:3rem 0;
    background-color: white;
    padding: .5rem;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .layout {
      flex-direction: column;
    }
  }