.layout {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin: 3rem 0;
  background-color: white;
  padding: 0.5rem;
  border-radius: 8px;
}

.mobile__layoutConatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;

  .stepper__container {
    width: 100%;
    height: 26vh;
  }

  .page__container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: -3.2rem;
    background-color: white;
    border-radius: 8px;
  }
}
