@import "../../utils/variables.scss";
.cards__container {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
  justify-content: center;
}

.form__plantype {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 0.5rem;
  background-color: $alabaster-color;
  border-radius: 8px;
  padding: 0.8rem 0;
}

.highlight__text {
  font-family: $font-family-medium;
  color: $primary-color;
}

.blur__text {
  font-family: $font-family-medium;
  color: $neutral-color;
}

.selectPlan__error {
  color: red;
  font-size: 12px;
  margin-bottom: -1.5rem;
}

@media screen and (max-width: 767px) {
  .cards__container {
    display: flex;
    flex-direction: column;
  }
  .form__plantype {
    margin: 0.8rem 0;
  }
}
