.box{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap:1rem;
}
.checkbox__container{
  display: flex;
  align-items: center;
  gap:1rem;
  border:1px solid #ccc;
  padding:1rem;
  border-radius: 8px;

}
.checkbox__body{
  width: 100%;
  display: flex;
  justify-content: space-between;
}