@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-gray-color;
  font-family: $font-family-regular;
}

.form__container {
  padding: 1rem 4rem;
  width: 33rem;
  position: relative !important;
}
@media screen and (max-width: 767px) {
  .form__container {
    width: fit-content;
    padding: 2rem 1rem;
  }
}

form {
  width: 100%;
}

.submit-form {
  display: flex;
  margin: 24px 0 auto 0;
}

.error {
  display: flex;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  justify-content: flex-end;
}

label {
  display: flex;
}
.button__wrapper {
  position: fixed;
  bottom: 8rem;
  display: inline-flex;
  width: 25rem;
  justify-content: space-between;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 38px;
    margin-right: 5rem;
  }
}

.align__right {
  height: 38px;
  justify-content: flex-end;
}

.disable-button {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 767px) {
  .button__wrapper {
    background: white;
    height: 10vh;
    padding: 1rem 0;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .align__right > button {
    position: fixed;
    right: 0rem;
  }
  button,
  a {
    margin: 0 3rem;
  }
}
